In [1]:
! pip install findspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: findspark in ./.local/lib/python3.8/site-packages (2.0.1)

In [2]:
import findspark
findspark.init()
findspark.find()

'/usr/lib/spark'

In [3]:
from pyspark.sql import SparkSession

In [10]:
from pyspark.sql import SQLContext

spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [5]:
!hdfs dfs -ls

Found 42 items
drwxr-xr-x   - ubuntu hadoop          0 2024-02-23 08:37 .sparkStaging
-rw-r--r--   1 ubuntu hadoop 2807409271 2024-02-23 05:24 2019-08-22.txt
-rw-r--r--   1 ubuntu hadoop 2854479008 2024-02-23 05:26 2019-09-21.txt
-rw-r--r--   1 ubuntu hadoop 2895460543 2024-02-23 05:25 2019-10-21.txt
-rw-r--r--   1 ubuntu hadoop 2939120942 2024-02-23 05:25 2019-11-20.txt
-rw-r--r--   1 ubuntu hadoop 2995462277 2024-02-23 05:29 2019-12-20.txt
-rw-r--r--   1 ubuntu hadoop 2994906767 2024-02-23 05:29 2020-01-19.txt
-rw-r--r--   1 ubuntu hadoop 2995431240 2024-02-23 05:24 2020-02-18.txt
-rw-r--r--   1 ubuntu hadoop 2995176166 2024-02-23 05:24 2020-03-19.txt
-rw-r--r--   1 ubuntu hadoop 2996034632 2024-02-23 05:26 2020-04-18.txt
-rw-r--r--   1 ubuntu hadoop 2995666965 2024-02-23 05:25 2020-05-18.txt
-rw-r--r--   1 ubuntu hadoop 2994699401 2024-02-23 05:26 2020-06-17.txt
-rw-r--r--   1 ubuntu hadoop 2995810010 2024-02-23 05:27 2020-07-17.txt
-rw-r--r--   1 ubuntu hadoop 2995995152 2024-02-23 05:26 2020-08-16.txt
-rw-r--r--   1 ubuntu hadoop 2995778382 2024-02-23 05:26 2020-09-15.txt
-rw-r--r--   1 ubuntu hadoop 2995868596 2024-02-23 05:27 2020-10-15.txt
-rw-r--r--   1 ubuntu hadoop 2995467533 2024-02-23 05:23 2020-11-14.txt
-rw-r--r--   1 ubuntu hadoop 2994761624 2024-02-23 05:26 2020-12-14.txt
-rw-r--r--   1 ubuntu hadoop 2995390576 2024-02-23 05:24 2021-01-13.txt
-rw-r--r--   1 ubuntu hadoop 2995780517 2024-02-23 05:26 2021-02-12.txt
-rw-r--r--   1 ubuntu hadoop 2995191659 2024-02-23 05:24 2021-03-14.txt
-rw-r--r--   1 ubuntu hadoop 2995446495 2024-02-23 05:23 2021-04-13.txt
-rw-r--r--   1 ubuntu hadoop 3029170975 2024-02-23 05:24 2021-05-13.txt
-rw-r--r--   1 ubuntu hadoop 3042691991 2024-02-23 05:26 2021-06-12.txt
-rw-r--r--   1 ubuntu hadoop 3041980335 2024-02-23 05:26 2021-07-12.txt
-rw-r--r--   1 ubuntu hadoop 3042662187 2024-02-23 05:29 2021-08-11.txt
-rw-r--r--   1 ubuntu hadoop 3042455173 2024-02-23 05:24 2021-09-10.txt
-rw-r--r--   1 ubuntu hadoop 3042424238 2024-02-23 05:28 2021-10-10.txt
-rw-r--r--   1 ubuntu hadoop 3042358698 2024-02-23 05:28 2021-11-09.txt
-rw-r--r--   1 ubuntu hadoop 3042923985 2024-02-23 05:28 2021-12-09.txt
-rw-r--r--   1 ubuntu hadoop 3042868087 2024-02-23 05:26 2022-01-08.txt
-rw-r--r--   1 ubuntu hadoop 3043148790 2024-02-23 05:28 2022-02-07.txt
-rw-r--r--   1 ubuntu hadoop 3042312191 2024-02-23 05:27 2022-03-09.txt
-rw-r--r--   1 ubuntu hadoop 3041973966 2024-02-23 05:24 2022-04-08.txt
-rw-r--r--   1 ubuntu hadoop 3073760161 2024-02-23 05:26 2022-05-08.txt
-rw-r--r--   1 ubuntu hadoop 3089378246 2024-02-23 05:28 2022-06-07.txt
-rw-r--r--   1 ubuntu hadoop 3089589719 2024-02-23 05:23 2022-07-07.txt
-rw-r--r--   1 ubuntu hadoop 3090000257 2024-02-23 05:28 2022-08-06.txt
-rw-r--r--   1 ubuntu hadoop 3089390874 2024-02-23 05:28 2022-09-05.txt
-rw-r--r--   1 ubuntu hadoop 3109468067 2024-02-23 05:28 2022-10-05.txt
-rw-r--r--   1 ubuntu hadoop 3136657969 2024-02-23 05:29 2022-11-04.txt
-rw-r--r--   1 dr.who hadoop     145611 2024-02-23 06:54 abalone_train.csv

In [6]:
! hdfs dfs -ls /tmp

Found 3 items
drwxrwxrwt   - hdfs   hadoop          0 2024-02-23 05:06 /tmp/hadoop-yarn
drwxr-xr-x   - ubuntu hadoop          0 2024-02-23 07:48 /tmp/month_stat1
drwxr-xr-x   - ubuntu hadoop          0 2024-02-23 06:48 /tmp/month_stat2

In [7]:
# !hdfs dfs -put abalone_train.csv

In [8]:
#!ls .aws

In [9]:
spark = (
    SparkSession
        .builder
        .appName("OTUS")
        .config("spark.dynamicAllocation.enabled", "true")
        .config("spark.executor.memory", "10g")
        .config("spark.driver.memory", "4g")
        .config("spark.executor.cores", "4")
        .config("spark.executor.instances", "3")
        .getOrCreate()
)

In [12]:
sql = SQLContext(spark)

In [13]:
sql

In [14]:
df = sql.read.parquet("s3a://yc-mdb-examples/dataproc/example01/set01")

In [16]:
defaultFS = spark._jsc.hadoopConfiguration().get("fs.defaultFS")
month_stat = df.groupBy("Month").count()
month_stat.repartition(1).write.format("csv").save(defaultFS+"/tmp/month_stat1")

In [18]:
data = (spark.read.format('csv')
        .options(header='true', inferSchema='true')
        .load('abalone_train.csv'))

In [19]:
data

DataFrame[0.435: double, 0.335: double, 0.11: double, 0.334: double, 0.1355: double, 0.0775: double, 0.0965: double, 7: int]

In [ ]:
data.show()

In [11]:
from pyspark.sql.types import *

schema = StructType([
    StructField("transaction_id", IntegerType(), True),
    StructField("tx_datetime", StringType(), True),
    StructField("customer_id", IntegerType(), True),
    StructField("terminal_id", IntegerType(), True),
    StructField("tx_amount", DoubleType(), True),
    StructField("tx_time_seconds", IntegerType(), True),
    StructField("tx_time_days", IntegerType(), True),
    StructField("tx_fraud", IntegerType(), True),
    StructField("tx_fraud_scenario", IntegerType(), True)
])

In [27]:
data = (
    spark.read.format('csv')
    .options(header='true', inferSchema='true', sep=','
             # , nullValue='?'
            )
    .load(['2019-08-22.txt', '2022-11-04.txt', '2022-10-05.txt'], schema=schema)
)

In [28]:
data

+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|transaction_id|        tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|             0|2019-08-22 06:51:03|          0|        711|    70.91|          24663|           0|       0|                0|
|             1|2019-08-22 05:10:37|          0|          0|    90.55|          18637|           0|       0|                0|
|             2|2019-08-22 19:05:33|          0|        753|    35.38|          68733|           0|       0|                0|
|             3|2019-08-22 07:21:33|          0|          0|    80.41|          26493|           0|       0|                0|
|             4|2019-08-22 09:06:17|          1|        981|   102.83|          32777|           0|       0|                0|
|             5|2019-08-22 18:41:25|          3|        205|     34.2|          67285|           0|       0|                0|
|             6|2019-08-22 03:12:21|          3|          0|     47.2|          11541|           0|       0|                0|
|             7|2019-08-22 22:36:40|          6|        809|   139.39|          81400|           0|       0|                0|
|             8|2019-08-22 17:23:29|          7|        184|    87.24|          62609|           0|       0|                0|
|             9|2019-08-22 21:09:37|          8|        931|     61.7|          76177|           0|       0|                0|
|            10|2019-08-22 11:32:42|         10|        663|    40.71|          41562|           0|       1|                2|
|            11|2019-08-22 03:09:26|         10|        770|    63.91|          11366|           0|       0|                0|
|            12|2019-08-22 15:47:54|         10|          0|    58.89|          56874|           0|       0|                0|
|            13|2019-08-22 21:59:20|         10|        649|    89.24|          79160|           0|       0|                0|
|            14|2019-08-22 20:55:13|         11|        380|     9.89|          75313|           0|       0|                0|
|            15|2019-08-22 16:39:03|         11|        337|    83.36|          59943|           0|       0|                0|
|            16|2019-08-22 23:15:07|         11|        973|    35.12|          83707|           0|       0|                0|
|            17|2019-08-22 07:39:45|         12|          9|     74.0|          27585|           0|       0|                0|
|            18|2019-08-22 05:35:39|         12|        745|   108.63|          20139|           0|       0|                0|
|            19|2019-08-22 10:29:16|         12|          9|    84.45|          37756|           0|       0|                0|
+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
only showing top 20 rows

In [23]:
data.show(5)

+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|transaction_id|        tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|             0|2019-08-22 06:51:03|          0|        711|    70.91|          24663|           0|       0|                0|
|             1|2019-08-22 05:10:37|          0|          0|    90.55|          18637|           0|       0|                0|
|             2|2019-08-22 19:05:33|          0|        753|    35.38|          68733|           0|       0|                0|
|             3|2019-08-22 07:21:33|          0|          0|    80.41|          26493|           0|       0|                0|
|             4|2019-08-22 09:06:17|          1|        981|   102.83|          32777|           0|       0|                0|
+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+

In [24]:
from pyspark.sql.functions import count, when, col

In [29]:
missing_data_counts = data.select([count(when(col(c).isNull(), c)).alias(c) for c in data.columns])

In [30]:
missing_data_counts

+--------------+-----------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|transaction_id|tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+--------------+-----------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|             0|          0|          0|       2857|        0|              0|           0|       0|                0|
+--------------+-----------+-----------+-----------+---------+---------------+------------+--------+-----------------+

In [35]:
validity_check = data.filter("transaction_id >= 0 and tx_datetime not like '____-__-__ __:__:__'")

In [36]:
validity_check

+--------------+-----------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|transaction_id|tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+--------------+-----------+-----------+-----------+---------+---------------+------------+--------+-----------------+
+--------------+-----------+-----------+-----------+---------+---------------+------------+--------+-----------------+

In [39]:
num_rows_initial = data.count()
num_cols_initial = len(data.columns)

In [40]:
num_rows_initial, num_cols_initial

(140984588, 9)

In [ ]:
num_rows_validity_check = validity_check.count()
num_cols_validity_check = len(validity_check.columns)

num_rows_validity_check, num_cols_validity_check

In [43]:
accuracy_check = data.agg({"tx_amount": "sum"}).alias('total_tx_amount')

In [44]:
accuracy_check

+-------------------+
|     sum(tx_amount)|
+-------------------+
|7.642769045469997E9|
+-------------------+

In [45]:
140984588/7642769045

0.018446794240398245

In [36]:
spark.stop()